<!--
* Page en HTML pour realiser l'affichage de l'application avec ses fonctionnalités
* @author AIT HAMMOUDA Rayane ij07732 / ROUSSEL Elodie ii04564
* @version 1.2
-->


<!DOCTYPE html>
<html>
<head>
	
	<title>Himap</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
  	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
	<link rel="stylesheet" href="{{ asset('build/app.css') }}" />


</head>
<body>

<div id="sideNavigation" style="width:0px;height:50%;" class="sidenav" >
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Satelitte</a>
  <a href="#">Option 2</a>
  <a href="#">Option 3</a>
</div>
<nav class="topnav">
  <a href="#" onclick="openNav()">
    <svg width="30" height="30" id="icoOpen">
        <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
        <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
        <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
    </svg>
  </a>
</nav>

<div id="mapid">

	<div id="formulaire">

		{{form_start(form)}}
        {{form_widget(form.adresse)}}
        {{form_widget(form.temps)}}
        {{form_widget(form.transport)}}

	<button type="submit"><i onclick="submit()" class="fas fa-search" ></i> </button>
        {{form_end(form)}}

  
	</div>
  <!-- HTML -->

</div>


</div>

<span id = "temps" type="hidden">{{temps}}</span>
<span id = "longitude" type="hidden">{{longitude}}</span>
<span id = "latitude" type="hidden">{{latitude}}</span>
<span id = "heure" type="hidden">{{heure}}</span>
<span id = "date" type="hidden">{{date}}</span>
<span id = "transport" type="hidden">{{transport}}</span>

<!--script permettant l'ouverture et la fermeture du menu glissant-->
<script>

function openNav() {
	document.getElementById("mapid").style.opacity= "0.4";
    document.getElementById("sideNavigation").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    
    
}
 
function closeNav() {
	document.getElementById("mapid").style.opacity= "1";
    document.getElementById("sideNavigation").style.width = "0px";
    document.getElementById("main").style.marginLeft = "0";
    
}

</script>


<!--script permettant l'affichage de la carte-->
<script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
<!--script permettant l'affichage de polygone-->
<script type="text/javascript" src="{{ asset('js/Submit.js') }}"></script>


</body>
</html>
